<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <!-- <input type="text" class="form-control my-5" (keyup)="onKeyUp($event)"> -->
            <!-- <input type="text" class="form-control my-5"> -->

            <p basicCss [defaultColor]="'orange'">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit labore saepe voluptate quidem, laboriosam quod accusantium at harum ex temporibus consectetur, ipsa rerum cupiditate aliquam.
            </p>
            <p advanceCss [hoverColor]="'green'">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit labore saepe voluptate quidem, laboriosam quod accusantium at harum ex temporibus consectetur, ipsa rerum cupiditate aliquam.
            </p>
            <p advanceCss [hoverColor]="'hotpink'">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit labore saepe voluptate quidem, laboriosam quod accusantium at harum ex temporibus consectetur, ipsa rerum cupiditate aliquam.
            </p>
            <p advanceCss [hoverColor]="'black'">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit labore saepe voluptate quidem, laboriosam quod accusantium at harum ex temporibus consectetur, ipsa rerum cupiditate aliquam.
            </p>
        </div>
    </div>
</div>
